table {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: collapse;
	text-align: left;
}
th, td {
	border: 1px solid #ccc;
	padding: 8px;
}
th {
	font-weight: bold;
	background-color: #333;
	color: #fff;
}
tbody tr:nth-child(ood) {
	background-color: #efefef;
}